.place__title {
  box-sizing: border-box;
  margin: 0;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  grid-column-start: 1;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 890px) {
  .place__title {

    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 650px) {
  .place__title {
    padding: 0 16px;
    font-size: 32px;
    line-height: 35px;

  }
}
