.places {
  display: grid;
  row-gap: 80px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 890px) {
  .places {
    row-gap: 73px;
  }
}

@media screen and (max-width: 650px) {
  .places {
    row-gap: 50px;
  }
}
