.place__image {
  box-sizing: border-box;
  min-width: 460px;
  max-height: 460px;
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 3;
}

@media screen and (max-width: 1150px) {
  .place__image {
    min-width: 440px;
    max-height: 440px;
  }
}

@media screen and (max-width: 890px) {
  .place__image {
    min-width: 340px;
    max-height: 340px;
  }
}

@media screen and (max-width: 650px) {
  .place__image {
    min-width: 320px;
    max-height: 320px;
    grid-row: 3;
  }
}
