.place__paragraphs {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: repeat(2, minmax(min-content, max-content));
}

@media screen and (max-width: 650px) {
  .place__paragraphs {
    padding: 0 16px;
    grid-row: 4;
  }
}
