.place__paragraph {
  margin: 0 0 26px;
  max-width: 484px;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
}

.place__paragraph:last-of-type {
  margin: 0;
}

@media screen and (max-width: 1150px) {
  .place__paragraph {
    max-width: 456px;
  }
}

@media screen and (max-width: 890px) {
  .place__paragraph {
    max-width: 352px;
    font-size: 16px;
    margin: 0 0 25px;
  }
}

@media screen and (max-width: 650px) {
  .place__paragraph {
    max-width: 500px;
    min-width: 288px;
  }
}
