.lead__image {
  object-fit: contain;
  box-sizing: border-box;
  width: 100%;
  max-height: 615px;
}

@media screen and (max-width: 1150px) {
  .lead__image {
  min-height: 580px;
  }
}

@media screen and (max-width: 890px) {
  .lead__image {
  min-height: 480px;
  }
}

@media screen and (max-width: 550px) {
  .lead__image {
  min-height: 200px;
  }
}
