.intro {
  padding: 0 100px;
}

@media screen and (max-width: 1150px) {
  .intro {
    padding: 0 48px;
  }
}

@media screen and (max-width: 890px) {
  .intro {
    padding: 0 24px;
  }
}

@media screen and (max-width: 550px) {
  .intro {
    padding: 0 16px;
  }
}
