.lead__caption {
  margin: 8px 0 0;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

@media screen and (max-width: 890px) {
  .lead__caption {
    padding-left: 24px;
  }
}

@media screen and (max-width: 550px) {
  .lead__caption {
    padding-left: 16px;
  }
}
