.cover__title {
  margin: 0 0 32px;
  max-width: 560px;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 1150px) {

}

@media screen and (max-width: 890px) {

}

@media screen and (max-width: 550px) {
  .cover__title {
    margin: 0 0 16px;
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}
