.header__lang-links {
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
  margin: auto 0;
}

@media screen and (max-width: 1150px) {
  .header__lang-links{
    padding-right: 48px;
  }
}

@media screen and (max-width: 890px) {
  .header__lang-links{
    padding-right: 24px;
  }
}

@media screen and (max-width: 550px) {
  .header__lang-links{
    padding-right: 16px;
  }
}
